*{
    box-sizing:border-box;
}

#root{
  width:100%;
  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background:black;

  overflow:hidden;

  font-family:monospace;
}.calculator{
  width:420px;

  padding:30px;

  background:#050505;

  border-radius:40px;

  border:1px solid rgba(0,255,0,.15);

  box-shadow:
  0 0 20px rgba(0,255,0,.4),
  0 0 80px rgba(0,255,0,.2);

  animation:float 4s ease-in-out infinite;
}
h1{
    color:#00ff41;

    text-align:center;

    font-size:60px;

    margin-top:0;
}

.display{
    height:100px;

    display:flex;
    align-items:center;
    justify-content:flex-end;

    padding-right:20px;

    font-size:55px;

    color:white;

    border-radius:20px;

    background:#111;

    margin-bottom:30px;

    box-shadow:0 0 15px #00ff41;
}

.buttons{
    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:15px;
}

button{

    height:75px;

    border:none;

    border-radius:20px;

    background:#111;

    color:#00ff41;

    font-size:28px;

    cursor:pointer;

    transition:.2s;

    box-shadow:0 0 10px rgba(0,255,65,.3);

}

button:hover{

    transform:translateY(-5px);

    box-shadow:
    0 0 20px #00ff41,
    0 0 50px #00ff41;

}

button:active{

    transform:scale(.92);

}

@keyframes float{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-10px);
}

100%{
transform:translateY(0px);
}

}
